<% provide(:title, "Contact") %>

<div class="row text-center">
      <div class="col-md-2"> </div>
      <div class="col-md-8">
        <h1 >Contact</h1>
        <div class="panel panel-default well">
          <div class="panel-body">
            <form action="" class="form-horizontal" method="#">
                <div class="form-group">               
                    <div class="col-sm-12">
                        <div class="input-group">
                            <div class="input-group-addon">
                                <i class="fa fa-user"></i>
                            </div>
                            <input type="text" class="form-control" id="inputName" placeholder="Enter your name">
                        </div>
                    </div>                
                </div>

                <div class="form-group">               
                    <div class="col-sm-12">
                        <div class="input-group">
                            <div class="input-group-addon">
                                <i class="fa fa-envelope"></i>
                            </div>
                            <input type="email" class="form-control" id="inputEmail1" placeholder="Enter email">
                        </div>
                    </div>                
               </div>

                <div class="form-group">
                    <div class="col-sm-12">
                        <div class="input-group">
                            <div class="input-group-addon">
                                <i class="fa fa-phone"></i>                      
                            </div>
                            <input type="text" class="form-control" placeholder="Phone">
                        </div>                                    
                    </div>
                </div>
                
                <div class="form-group">
                    <div class="col-sm-12">
                        <div class="input-group">
                            <div class="input-group-addon">
                                <i class="fa fa-comment fa-2"></i>                
                            </div>                  
                            <textarea class="form-control" name="Comments" placeholder="Enter your message here"></textarea>
                        </div>                                    
                    </div>
                </div>
                
                <div class="form-group">
                    <div class="col-sm-12">
                        <button type="submit" class="btn btn-success btn-lg">Contact us</button>
                    </div>
                </div>
            </form>
          </div><!-- end panel-body -->
        </div><!-- end panel -->
      </div><!-- end col-md-8 -->
      <!--<div class="col-md-2"> </div>-->
    </div>

