<% provide(:title, "Items") %>	

<p id="notice"><%= notice %></p>	
    
<div class="row">
    <h1 class="text-center">Full Catalogue</h1>	
    <%= render 'items/catalogue'%>
</div>

<div class="row text-center">
    <%= will_paginate @items %>
</div>
