

<!--The contents of index.html.erb  has been moved to a partial called -catalogue.html.erb @ items folder -->
<div class="row">
    <h1 class="text-center">Full Catalogue</h1>
    <%= render 'items/catalogue'%>
</div>