<div class="row">
  <% if @items.length == 0 %>
      <h2 class="text-center">No products were found matching your search</h2>
  <% else %>
      <% item = @items.last %>
      <% if @search_criteria.eql? "All" %>
        <h1 class="text-center">Items For <%= @search_criteria %> Categories</h1>
      <% else %>
        <h1 class="text-center">Items For <%= item.title %> Category</h1>
      <%end%>
      <%= render 'items/catalogue'%>
  <% end %>
</div>
