@import "bootstrap-sprockets";
@import "bootstrap";

.navbar-inverse .navbar-nav > li > a {
    color: white;
}

/* navbar design*/
  .navbar {
    border-radius: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
  }
/* end of navbar design */

/* Brand name/logo design*/

#logo {
  float: left;

  font-size: 2em;
  color: white;
  font-weight: bold;
  &:hover {
    color: #5cb85c;
    text-decoration: none;
  }
}

.margin-top{
  margin-top: 50px;
}
.margin-bottom{
  margin-bottom: 50px;
}
/* end of Brand name/logo design*/


