
.item-title{
    color:#5cb85c;
}

/* Meadia query*/

/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
    .row{
        margin: 0 85px;
    }
}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199px){
    .col-sm-4 {
        width: 33.33%;
    }
    .row{
        margin: 0 5px;
    }
   .col-sm-4 img{
        width: 100%;
        height: auto;
    }
}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991px){ 
    .col-sm-4 {
        width: 50%;
    }
    .row{
        margin: 0 40px;
    }
    .col-sm-4 img{
        width: 100%;
        height: auto;
    }
}

/*Small devices (landscape phones, 576px and up)*/
@media (max-width: 767px) {
    .item-title {
        text-align: center;
    }
    img{
        width: 100%;
        height: auto;
    }
    .row{
        margin: 0 15%;
    }
}

/* end of media query*/
