
.item-title{
    color:#5cb85c;
    font-size:20px;
}

h1{
    padding-bottom:25px;
}

/* Meadia query*/

/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
    .row{
        margin: 0 85px;
    }
    .category-filter{
        font-size: 16px;
        margin-left: 20px;
    }
}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199px){
    .col-sm-4 {
        width: 33.33%;
        left: 50px;
    }
    .row{
        margin: 0 5px;
    }
    .category-filter {
        font-size: 16px;
        margin-left: 65px;
    }
}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991px){ 
    .col-sm-4 {
        width: 50%;
        left: 50px;
    }
    .row{
        margin: 0 40px;
    }
    .category-filter {
        font-size: 16px;
        margin-left: 65px;
    }
}

/*Small devices (landscape phones, 576px and up)*/
@media (max-width: 767px) {
    .item-title {
        text-align: center;
    }
    img{
        width: 100%;
        height: auto;
    }
    .row{
        margin: 0 15%;
    }
    .category-filter {
        font-size: 16px;
        margin-left: 22px;
    }
}

/* end of media query*/
