<div class="panel panel-default">
    <div class="panel-body">
        <div class="col-md-4 text-center">
            <!-- Single button -->
            <div class="btn-group">
              <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Sorting <span class="caret"></span>
              </button>
              <ul class="dropdown-menu">
                <li><a href="#">Top Rated</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="#">Price High to Low</a></li>
                <li><a href="#">Price Low to High</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="#">By Name</a></li>
              </ul>
            </div>
        </div>
        <div class="col-md-6 text-left">
            <div class="row">
              <div class="col-lg-6">
                <div class="input-group">
                  <input type="text" class="form-control" aria-label="...">
                  <div class="input-group-btn">
                    <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Searching <span class="caret"></span></button>
                    <ul class="dropdown-menu dropdown-menu-right">
                      <li><a href="#">Title</a></li>
                      <li><a href="#">Author Name</a></li>
                      <li role="separator" class="divider"></li>
                      <li><a href="#">Price</a></li>
                    </ul>
                  </div><!-- /btn-group -->
                </div><!-- /input-group -->
              </div><!-- /.col-lg-6 -->
            </div><!-- /.row -->
        </div>
        <div class="col-md-2 text-right">
            <a href="#"><span class="glyphicon glyphicon-shopping-cart"></span><span class="badge">2</span> </a>
        </div>
    </div>
</div>
