<div class="container">
    <h3 class="text-left"><b>Categories</b></h3>
    <% @categories.each do |category| %>
           <p><%#= category.description %></p>
            <a href="/category/<%= category.id %>" class="button btn-success btn-lg text-left" style="color:white"><%= category.title %></a>       
    <% end %>
</div>
    