<h1>Categories</h1>
<br>

    <% @categories.each do |category| %>
       <div class="itemhols">
           <p><%= category.description %></p>


    <h2><a href="/category/<%= category.title %>" class="button"><%= category.title %></a></h2>         
    </div>
    <% end %>
    

